@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../public/fonts/f3255fc02e564813-s.p.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Basic style overrides */
* {
  font-family: 'CustomFont', sans-serif;
}

/* Overrides for the background on the home page */
.home-background {
  position: relative;
}

/* Set the z-index for the main layout elements to ensure they appear above the background */
#root {
  position: relative;
  z-index: 10;
}